.app_bar {
    background-color: white;
    > .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        height: 70px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        > .logo {
            height: 18px;
        }

        > .navs {
            display: flex;
            flex-flow: row nowrap;
        }

        > .mobile_nav_menu {
            width: 30px;
            height: 30px;
            background: url(./assets/menu.svg) center center/contain no-repeat;
            display: none;
            border: 0;
            outline: 0;
        }
    }
}

@media (max-width: 750px) {
    .app_bar > .container {

        > .navs {
            display: none;
        }

        > .mobile_nav_menu {
            display: block;
        }
    }
}

@media (max-width: 414px) {
    .app_bar > .container {}
}