%default {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    padding: 5px 20px;
    border: 0;
    outline: 0;
    white-space: nowrap;
}

.button {
    @extend %default;
    color: white;
    background-color: #000000;
    border-radius: 4px;

    &:focus {
        outline: 2px solid #dbdee7;
    }
}

.text__button {
    @extend %default;
    background-color: transparent;
    color: #000000;
    padding: 5px 10px;
    // width: 100px;

    &:focus {
        font-weight: 700;
    }
}

.arrow__button {
    @extend %default;
    background-color: transparent;
    color: #000000;
    border-radius: 4px;
    border: 1px solid #000000;
    font-weight: 700;
    > svg {
        margin-left: 18px;
    }

    &:focus {
        background-color: #dbdee7;
    }
}