.header {
    > .video {
        height: 550px;
    }
    > .caption {
        background-color: #f1f1f1;
        > .container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            padding: 15px 30px;
            > p {
                font-weight: 700;
                font-size: 18px;
                margin-right: 30px;
                line-height: 1.5;
            }
        }
    }
}


@media (max-width: 500px) {
    .header > .video {
        height: 450px;
    }
}

@media (max-width: 414px) {
    .header > .caption > .container {
        flex-flow: column;
        
        > p {
            margin-right: 0;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}