.app_bar {
	background-color: white;

	>.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 30px;
		height: 70px;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;

		>.logo {
			height: 18px;
		}

		>.navs {
			display: flex;
			flex-flow: row nowrap;
		}

		>.mobile_nav_menu {
			display: none;
		}
	}
}

@media (max-width: 800px) {
	.app_bar>.container {
		flex-direction: row-reverse;
		justify-content: flex-end;

		>.navs, >.auths {
			display: none;
		}

		>.mobile_nav_menu {
			display: block;
			margin-right: 20px;
		}
	}
}

@media (max-width: 414px) {
	.app_bar>.container {}
}