.field_container {
    position: relative;
    box-sizing: border-box;

    >.error {
        color: red;
        font-size: 12px;
    }
}

.field {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border: 1px solid #DBDEE7;
    border-radius: 6px;
    outline: 0;
    padding: 0 24px;
    font-size: 18px;
    color: black;
    background-color: white;

    &::placeholder {
        opacity: 1;
    }

    &:focus {
        border-color: #878a91;
    }
}

.error_field {
    border-color: red;
}

.checkbox {
    display: flex;
    flex-flow: row nowrap;

    >label {
        font-size: 14px;
        margin-left: 10px;
        align-items: center;
    }
}

.search_field {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 6px;
    overflow: hidden;

    >input {
        border-radius: 0;
        border: 0;
    }

    >button {
        width: 80px;
        border: 0;
        border-radius: 0;
        background-color: white;
        transition: all .2s;

        &:hover {
            background-color: #b9adad;
        }

        &:last-of-type {
            background-color: black;

            &:hover {
                background-color: #272727;
            }
        }

    }
}