.learning_centre {
    background-color: #FFF5DA;

    > .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 30px;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        > h1 {
            font-size: 36px;
            font-weight: 900;
            margin-bottom: 15px;
            line-height: 1.5;
        }

        > p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 30px;
            max-width: 471px;
            line-height: 1.5;
        }

        >.grid {
            width: 100%;
            margin-top: 50px;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 26px 15px;
            justify-content: flex-start;
        }
    }
}

@media (max-width: 414px) {
    .learning_centre > .container {
        align-items: center;
        > h1, > p {
            text-align: center;
        }
    }
}